<style type= "text/css">
		
		* {
			background-color: #181818;
			box-sizing: border-box;
			margin: 0;
			font-family: Sans-serif;
		}
		
		body {
			height: 100%;
			width: 100%;
			overflow: hidden;
			}
			
		a:hover { 
    			background-color: #1ed760;
		}
			
		a:link {
	    		color: white;
		}
	
		a:visited {
		    color: #1ed760;
		}
		
		#searchArea {
			display: block;
			position: fixed;
			top: 0px;
			width: 100%;
			height: 40px;
			padding-top: 7px;
			text-align: center;
			border-style: double;
			background-color: #181818;
		}
		
		#txtSearchBox {
			position: fixed;	
			background-color: white;
			margin-left: 30px;
			font-style: italic;
		}
		
		#btnSubmitSearch {
			overflow: hidden;
			margin-left: 215px;
			background-color: white;
		}
		
		.radContainer {
			color: white;
			background-color: #181818;
			padding: 3px;
		}
		
		.leftSidebar {
			position: fixed;
			height: 85%;
			width: 270px;
			top:40px;
			border-style: double;
			background-color:#181818;
		}
		
		.round {
		    width: 100%;
		    border-radius: 15px;
		    border: 1px #000 solid;
		    padding: 5px 5px 5px 25px;
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 5;
		}
		
		.corner {
		    position: absolute;
		    top: 3px;
		    left: 5px;
		    height: 20px;
		    width: 20px;
		    z-index: 10;
		    border-radius: 10px;
		    border: none;
		    background: #000; /* Set the bg image here. with "no-repeat" */
		    background-color: white;
		}
		
		.search {
		    position: relative;
		    width: 190px;
		    height: 30px;
		}
		
		#headerTitle {
			height: 15px;
			width: 35%;
		}
		
		#headerArtist {
			height: 15px;
			width: 20%;
		}
		
		#headerLength {
			height: 15px;
			width: 7%;
		}
		
		#headerAlbum {
			height: 15px;
			width: 20%;
		}
		
		#albumCover {
			position: relative;
			margin: 5px;
			padding: 20px;
			height: 43%;
			color: white;
			text-align: center;
		}
		
		#playControls {
			display: block;
			position: fixed;
			text-align: center;
			bottom: 0px;
			width: 100%;
			height: 52px;
			background: #181818;
			border-style: double;
		}
		
		
		#btnBack {
			margin-top: 10px;
			background: url("images/131253-music/png/back.png");
			width: 28px;
			height: 28px;
			border-radius: 50%;
		}
		
		#btnPlay{
			margin-top: 10px;
			margin-left: 15px;
			margin-right: 15px;
			background: url("images/131253-music/png/play-button.png");
			width: 28px;
			height: 28px;
			border-radius: 50%;
		}
		
		#btnNext{
			margin-top: 10px;
			background: url("images/131253-music/png/next.png");
			width: 28px;
			height: 28px;
			border-radius: 50%;
		}
		
		#contentTable {
			overflow: scroll;
			position: fixed; 
			table-layout: fixed;
			margin-top: 30px;
			margin-left: 300px;
			height: 80%;
			width: 70%;
			border: 1px solid #999999;
			text-align: left;
		}
		
		th, td {
			color: white;
			padding-left: 10px;
			white-space: nowrap;
			overflow: hidden;
			background-color: #404040;
		}
		
		
	</style>