@charset "ISO-8859-1";
/* Monica Sananikone
1017 April 2018*/
h1 {
	text-align: center;
    color: white;
    border-right: 15px solid green;
    border-left: 15px solid green;
}

input[type=text] {
	text-align: center;
}
input[type=submit] {
	text-align: center;
}
form[type=get]{
	text-align: center;
}

.round {
	text-align: center;
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
	text-align: center;
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
}

.search {
	padding-left: 30px;
    position: relative;
    width: 190px;
    height: 30px;
}

body {
    font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
    overflow: hidden;
}

.page {
    display: flex;
}

nav {
	background-color: rgba(0,0,0,.90);
    padding: 15px;
    width: 15%;
}
nav ul {
	list-style-type: none;
}

nav li {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

nav li:hover{
    border-right: 15px solid green;
}

nav a {
    color: white;
	text-decoration: none;
}

nav a:hover {
    color: black;
}

nav button {
    background-color: black;
    color: gray;
    font-size: 14pt;
}

main {
    align-items: center;
    background-color: rgb(0,0,0,.88);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: left;
    width: 85%;
}

table {
    margin-bottom: 30px;
    margin-top: 100px;
    width: 90%;
}

table tr {
    padding-bottom: 10px;
}

table th {
    padding-bottom: 10px;
    text-align: center;
    width: 100px;
}

table td {
    padding-bottom: 10px;
    width: 50px;
}

footer {
    display: block;
}
button:active {
	outline: none;
	border: none;
}
button:focus {
	border: 2px solid green;
}
.container {
	text-align: center;
	position:relative;
	margin-top:500px;
}